---
import AnimateOnView from '../islands/AnimateOnView'
import IntakeWizard from '../islands/IntakeWizard.tsx'
---

<AnimateOnView client:visible>
  <section class="mt-16">
    <IntakeWizard client:visible />
  </section>
</AnimateOnView>
